body {
	box-sizing: border-box;
	font-family: 'Montserrar', sans-serif;
}

.main-container {
	background: #030330;
}

.container {
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid;
}

.login-logo {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 65%;
	padding-right: 20px;
}

.login-title {
	display: flex;
	text-align: center;
	justify-content: center;
	padding-left: 20px;
}

h2 {
	font-size: 26px;
	font-weight: bold;
	margin-top: 20px;
}

.account-box {
	width: 600px;
	padding: 20px;
	background-color: #a265be97;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
	text-align: center;
}

.login-buttons {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	gap: 10px;
	margin: 0 auto;

	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
}

#button {
	background-color: transparent;
	color: #ffffff;
	border: 1px solid #ffffff;
	display: flex;
}

#button:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: #ffffff;
	border: 1px solid #ffffff;
	cursor: pointer;
}

.forgottenpwd {
	font-size: 13px;
	display: flex;
	justify-content: center;
	margin-top: 160px;
	margin-left: 30%;
}

.login-entries {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	gap: 10px;
	margin: 0 auto;

	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
}

.login-gotoregister {
	display: flex;
	justify-content: center;
	width: 70%;
	margin: 0 auto;
	gap: 10px;

	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	color: #b9aca9;
}

.linking {
	margin-left: 5px;
}

#register-txt {
	color: #ffffff;
	text-decoration: none;
}

.login {
	margin-left: 10px;
	margin-right: 100px;
}