.menuContainer {
	position: relative;
	z-index: 1000000;
	width: 20%;
	min-width: 280px;
	background-color: #050844;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
}

.logoImage {
	max-width: 300px;
	margin-bottom: 20px;
}

.menuItem {
	padding: 12px;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	text-align: center;
	border-radius: 8px;
	transition: background 0.3s ease-in-out;
}

.menuItemsContainer {
	display: flex;
	text-align: left;
	flex-direction: column;
	gap: 0.5vh;
	width: 100%;
}

.menuItemsContainer img {
	height: 40px;
	text-align: center;
}

.menuItemsContainer title {
	align-content: left;
}

.menuItem:hover {
	background-color: #e0e0e0;
}