.GuessContainer {
	position: relative;
	display: flex;
	height: 100vh;
	background: #030330;
	color: white;
}

.GuessChatContainer {
	width: 40%;
	display: flex;
	flex-direction: column;
	padding: 16px;
}

.messagesContainer {
	flex: 1;
	overflow-y: auto;
	padding: 16px;
	border-radius: 8px;
}

.message {
	padding: 17px;
	margin-bottom: 8px;
	max-width: 320px;
	border-radius: 30px;
}

.userMessage {
	border: 3px solid #de97ff;
	color: #fff;
	align-self: flex-end;
	margin-left: auto;
	width: fit-content;
	max-width: 100%;
	word-wrap: break-word;
}

.aiMessage {
	border: 3px solid #de97ff;
	color: #fff;
	align-self: flex-start;
	width: fit-content;
	word-wrap: break-word;
}

.inputContainer {
	margin-top: 16px;
	display: flex;
	width: 100%;
}

.inputField {
	position: relative;
	flex: 1;
	padding: 8px;
	color: #5c5c5c;
	font-weight: 900;
	background-color: #fff;
	border-radius: 30px;
	height: 4rem;
}

.sendButton {
	position: relative;
	margin-left: 8px;
	color: #fff;
	background-color: #de97ff;
	padding: 8px;
	width: 4rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.GuessChatBoxTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 3rem;
	font-weight: 700;
}