.container {
  display: flex;
  height: 100vh;
  background-color: #030330;
  color: white;
}

.menuContainer {
  width: 20%;
  min-width: 280px;
  background-color: #050844;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.logoImage {
  max-width: 300px;
  margin-bottom: 20px;
}

.menuItem {
  padding: 12px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
}

.menuItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 100%;
}

.menuItem:hover {
  background-color: #e0e0e0;
}

.chatContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.messagesContainer {
  flex: 1;
  overflow-y: auto;
  /* border: 1px solid #3a2d48; */
  padding: 16px;
  border-radius: 8px;
}

.message {
  padding: 8px;
  margin-bottom: 8px;
  max-width: 320px;
  border-radius: 8px;
}

.userMessage {
  border: 3px solid #de97ff;
  color: #fff;
  align-self: flex-end;
  margin-left: auto;
  width: fit-content;
  max-width: 100%;
  word-wrap: break-word;
}

.aiMessage {
  border: 3px solid #de97ff;
  color: #fff;
  align-self: flex-start;
  width: fit-content;
  word-wrap: break-word;
}

.inputContainer {
  margin-top: 16px;
  display: flex;
  width: 100%;
}

.inputField {
  position: relative;
  flex: 1;
  padding: 8px;
  color: #5c5c5c;
  font-weight: 700;
  background-color: #fff;
  border-radius: 30px;
  height: 4rem;
}

.sendButton {
  position: relative;
  margin-left: 8px;
  color: #fff;
  background-color: #de97ff;
  padding: 8px;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.validationContainer {
  position: absolute;
  top: 10rem;
  right: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  min-width: 20%;
}

.validationField {
  position: relative;
  flex: 1;
  padding: 8px;
  color: #5c5c5c;
  font-weight: 700;
  background-color: #fff;
  border-radius: 30px;
  height: 4rem;
}

.validationButton {
  position: relative;
  margin-left: 8px;
  color: #fff;
  background-color: #de97ff;
  padding: 8px;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.validationImage {
  margin-bottom: 4rem;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.validationCircle {
  position: absolute;
  width: 33rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.blurred {
  filter: blur(30px);
  transition: filter 0.3s ease-in-out;
}

.chatBoxTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
  font-weight: 700;
}
